$bodywidth : 600px;
$color : red;
$margin : 20px;

@mixin fonts{
    font:20px/36px 'Helvetica, san-serif';
};

body{
    width:$bodywidth;
    color:$color;
    margin:$margin;
    @include fonts;
    padding:50px;
    p{
        color:#ccc;
        width:200px;
        border:1px solid black;
        transition:width 2s ease-in;
        
    }
    
    h1{
        border-radius: 10px;        
        opacity:0.5;
    }
    
    h2{
        color:red;
        display:block;
        line-height:100;
    }
}